body {
	background-color: white;	
}

.whole-link {
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
}

.con-fluid-about {
	background-color: #212529;
}

#about {	
	color: white;
	font-family: 'Poiret One', cursive;
}

.text-projects h3, .text-about h3, .text-drawings h3, .text-contact h3{
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 2.75rem;
	color: #E91E63;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	font-weight: bold;
	margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #E91E63;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	font-weight: bold;	
	text-shadow: -3px 3px 6px -3px black;
	text-decoration: overline;
	text-decoration-color: black;
}


.about-title {
	font-size: 20px;
}

nav img {
	width: 10%;
	height: 10%;
}

ul a {
	justify-content: space-around;
}

li .disabled {
	cursor: no-drop;
}


.form-control:focus {
	color: #FF4779;
	background-color: #fff; 
	outline: 0;
	box-shadow: 0 0 0 0.2rem pink;
	border: none;
}


.navbar-toggler-icon {
	background: no-repeat center center;
	background-size: 100% 100%;
	color: black;
}

.btn-icon:hover {
	color: #FF4779;
	background-color: white;
	border-color: black;
	box-shadow: -3px 3px 6px -3px black;
}

.btn-icon {
	color: black;
	background-color: white;
	border-color: black;
}

.btn-link {
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-size: 20px;
}

.card {
	background-color: transparent;
	border: none;
}

.techonologies-list {
	padding: 0;
	list-style: none;
	flex-flow: row wrap;
}

.techonologies-list li {
	width: 25%;
	padding: 0 1rem;
	line-height: 1;
	margin-bottom: 25px;
}

.techonologies-list li img {
	height: auto;
}

.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: transparent; 
	border-bottom: none;
}

.fa-angle-down {
	color: #DD2671;
}

.projects {
	background-color: white;
	color: #212529;
	font-size: 1rem;
}

.btn-link:hover {
	color: #FF4779;
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
}

.btn-link, .btn-link:focus {
	text-decoration: overline;
	border-color: transparent;
	box-shadow: none;
	-webkit-text-decoration-color: #FF4779; /* Safari */    
	text-decoration-color: #FF4779;
}

.btn-link.collapsed {
	text-decoration: none;
}

.btn-link .fa-angle-down {
	opacity: 0;
}

.btn-link.collapsed .fa-angle-down {
	opacity: 1;
}

@keyframes changeColors
{
	0% { color: white; }
	25% { color: #f9a7bd; }
	50% { color: #fc6f94; }
	100% { color: #FF4779; }
}

#S {
	color: white;
	animation-name: changeColors;
	animation-duration: 5s;
	animation-direction: alternate;
	animation-iteration-count: infinite
}

.con-fluid-fotter {
	background-color: #212529;
	color: white;
}

.con-fotter {
	text-align: center;
}

.con-drawings {
	background-color: #212529;
	color: white;
	font-family: 'Amatic SC', cursive;
}

.card-body {
	font-size: 18px;
}

.card-body img {
	width: 100%;
	height: 100%;
}

.card-header {
	font-family: 'Poiret One', cursive;
	    padding: 1.75rem 1.25rem;
}

.projects-icon {
	font-size: 45px;
	color: black;
}

.html5 svg:hover {	
	color: #F06529;
}

.css3 svg:hover {	
	color: #28A9E0;
}

.javascript svg:hover {	
	color: #F8DC3D;
}

.projects-icons {
	color: #E91E63;
	font-size: 30px
}


