body {
	font-family: 'Karma', serif;
	background-color: white;
	background-image: linear-gradient(90deg, rgba(193, 66, 66, 0.19) 50%, transparent 50%),
	linear-gradient(rgba(193, 66, 66, 0.1) 50%, transparent 50%);
	background-size:50px 50px;
}

.btn-primary {
	color: white;
	background-color: #FF4779;
	border-color: white;
}

.btn-primary:hover {
	color: #FF4779;
	background-color: white;
	border-color: #EDCBCB;
}

.card {
	min-height: 420px;
	border: 1px solid white;
}


.container {

	background-color: #F8F9FA;
	-webkit-box-shadow: 1px 1px 30px 1px #747474;
    -moz-box-shadow: 1px 1px 30px 1px #747474;
     box-shadow: 1px 1px 30px 1px #747474;
 }

.carousel {
	/*height: 450px;*/
	overflow: hidden;
}

.sr-only {
	color: black;
}

.card-title {
	color: black;
	font-size: 24px;
	font-weight: bold;
}


.btn-outline-success {
    color: white;
    border-color: white;
    background-color: #FF4779;
}

.btn-outline-success:hover {
	color: #FF4779;
	background-color: white;
	border-color: #EDCBCB;

}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid white;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #FF4779;
    color: white;
    padding: 12px 20px;
    border: 1px solid #EDCBCB;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: white;
    color: #FF4779;
    border: 1px solid #EDCBCB;
}

.carousel-caption {
	margin-bottom: 20.5rem;
	color: black;

}

p {
	font-size: 1.15rem;
}

@keyframes typing {
	from { width: 0 }
}

@keyframes caret {
	50% { border-right-color: transparent; }
}

h4 {
	font: bold 200% monospace;
	width: 29ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: .05em solid;
	animation: typing 8s steps(29),
	           caret 1s steps(1) infinite;
	text-align: center;
	margin: 0 auto;
	color: #ff4779;
}

.btn-icon {
	line-height: 0;
}

.about-body .btn-icon {
	font-size: 25px;
}

footer {
	text-align: center;
}

.navbar-collapse {
	font-size: 20px;
	text-align: center;
}

.navbar-light .navbar-brand {
	color: black;
}

.navbar .fa-heart {
	color: #FF4779;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #FF4779;
}


.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    color: #FF4779;
}

.navbar-expand-lg {
	background: linear-gradient(135deg, #EDCBCB, #F9ECEC, #FCEFEF);
}


.fa-code, .fa-paint-brush, .fa-archive {
	color: pink;
	font-size: 80px;
}