body {
	font-family: 'Karma', serif;
	background-color: white;
	background-image: linear-gradient(90deg, rgba(193, 66, 66, 0.19) 50%, transparent 50%),
	linear-gradient(rgba(193, 66, 66, 0.1) 50%, transparent 50%);
	background-size:50px 50px;
}

.btn-primary {
	/*color: #495057;*/
	background-color: #FAA2C1;
	border-color: #FAA2C1;
}

.btn-primary:hover {
	/*color: #495057;*/
	background-color: #D6336C;
	border-color: #DC8FAA;
}

.card {
	min-height: 420px;
	border-color: 3px solid white;
}


.container {
	border: 3px double white;
	background-color: #F8F9FA;
	-webkit-box-shadow: 1px 1px 30px 1px #747474;
    -moz-box-shadow: 1px 1px 30px 1px #747474;
     box-shadow: 1px 1px 30px 1px #747474;
 }

.carousel {
	/*height: 450px;*/
	overflow: hidden;
}

.sr-only {
	color: #E64980;
}

.card-title {
	color: #E64980;
	font-size: 24px;
	font-weight: bold;
}

.navbar {
	/*border-color: 10px solid white;
	*/
}

.btn-outline-success {
	color: white;
	border-color: white;
}

.btn-outline-success:hover {
	color: #343A40;
	background-color: #D6336C;
	border-color: #343A40;

}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #FAA2C1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #D6336C;
}

.carousel-caption {
	margin-bottom: 26.5rem;
	color: #E64980;

}

p {
	font-size: 1.15rem;
}

@keyframes typing {
	from { width: 0 }
}

@keyframes caret {
	50% { border-right-color: transparent; }
}

h4 {
	font: bold 200% monospace;
	/*width: 8.25em;*/
	width: 31ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: .05em solid;
	animation: typing 9s steps(31),
	           caret 1s steps(1) infinite;
	text-align: center;
	margin: 0 auto;
}

.btn-icon {
	line-height: 0;
}

.about-body .btn-icon {
	font-size: 25px;
}
