body {
	background-color: white;	
}

.con-fluid-about {
	background-color: #232323;
}

#about {
	
	color: white;
	font-family: 'Poiret One', cursive;
	width: 100%;
}

.navbar {
	background-color: white;
	/*background-color: #DD2671;	*/
	/*border-bottom: 5px dotted black;*/
}

.nav-item a {
	color: black;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	font-weight: bold;
	margin-left: 10px;
}

.nav-item a:hover {
	color: #DD2671;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	font-weight: bold;	
	text-shadow: -3px 3px 6px -3px black;
	text-decoration: overline;
	text-decoration-color: #DD2671;
}


.card-title {
	font-size: 30px;
	text-align: center;
}

nav img {
	width: 10%;
	height: 10%;
}

ul a {
	justify-content: space-around;
}

li .disabled {
	cursor: no-drop;
}

@keyframes bounce {
	60%, 80%, to {
		transform: translateY(400px);
		animation-timing-function: ease;
	}
	70% { transform: translateY(300px); }
	90% { transform: translateY(360px); }
}

.ball {
	float: right;
	border-radius: 50%;
	background-image: url(bug-hunter.png);
	animation: bounce 2s cubic-bezier(.1,.25,1,.25) forwards;
}

.ball img {
	width: 300px;
}

.navbar-toggler-icon {
	background: no-repeat center center;
	background-size: 100% 100%;
	color: black;
}


.navbar-collapse {
	padding-left: 20%;
}


.btn-icon:hover {
	color: #FF4779;
	background-color: white;
	border-color: black;
	box-shadow: -3px 3px 6px -3px black;
}

.btn-icon {
	color: black;
	background-color: white;
	border-color: black;
}

.btn-link {
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-size: 30px;
}

.card {
	background-color: transparent;
	border: none;
}

.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: transparent; 
	border-bottom: none;
}

.fa-angle-down {
	color: #DD2671;
}

.projects {
	background-color: white;
}

.btn-link:hover {
	color: #FF4779;
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
}

.btn-link, .btn-link:focus {
	text-decoration: overline;
	border-color: transparent;
	box-shadow: none;
	-webkit-text-decoration-color: #FF4779; /* Safari */    
	text-decoration-color: #FF4779;
}

.btn-link.collapsed {
	text-decoration: none;
}

.btn-link .fa-angle-down {
	opacity: 0;
}

.btn-link.collapsed .fa-angle-down {
	opacity: 1;
}

@keyframes changeColors
{
	0% { color: white; }
	25% { color: #f9a7bd; }
	50% { color: #fc6f94; }
	100% { color: #FF4779; }
}

#S {
	color: white;
	animation-name: changeColors;
	animation-duration: 5s;
	animation-direction: alternate;
	animation-iteration-count: infinite
}

